<!DOCTYPE html>
<html lang="en">
<head>
<title>Ethan Honeycutt | About</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="index"><span class="color-highlight">E</span>than Honeycutt</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><a href="index">Home</a></li>
          <li><a href="technologies">Technologies</a></li>
          <li><a href="projects">Projects</a></li>
          <li><a href="contact">Contact</a></li>
          <li class="active"><a href="about">About</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="span8">
      <div class="well">
        <h1>About Me</h1>
        <h4>Who am I? What makes me different?</h4>
        <br>
        <p>I'm Ethan, a 21 year old student studying Computer Engineering at the University of Texas at Dallas. Originally from the Austin area, I'm enjoying my time in Richardson, just north of Dallas. </p>
        <p>Things I'm passionate about:</p>
        <ol>
          <li>Mechanical keyboards</li>
          <li>Data hoarding</li>
          <li>Difficult platformer games</li>
          <li>Quality audio reproduction</li>
        </ol>
        <p>While not yet very knowledgeable in these areas, I'm also interested in software defined networks and cyptograpghy.</p>
      </div>
    </div>
    <div class="span4">
      <img src="img/clark.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <a target="_blank" href="https://github.com/ethanhoneycutt"><img src="img/github1.png" width="10%"></a>
      <a target="_blank" href="https://player.spotify.com/user/ethan.honeycutt"><img src="img/spotify.png" width="15%"></a>
      <a target="_blank" href="http://steamcommunity.com/id/hahalord999/"><img src="img/steam.png" width="10%"></a>
    </div>
    <div class="span4">
      <a target="_blank" href="Resume1-16.pdf"><h2>My resume</h2></a>
    </div>
  </div>
  <hr>
  <footer class="row">
    <div>
      <div class="span4">
        <div class="is-padded">
          <nav>
            <h2>Navigation</h2>
            <hr>
            <ul>
              <li><a href="index">Home</a></li>
              <li><a href="technologies">Technologies</a></li>
              <li><a href="projects">Projects</a></li>
              <li><a href="contact">Contact</a></li>
              <li class="active"><a href="about">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="span4">
        <div class="is-padded">
          <h2>Want to get in touch?</h2>
          <hr>
          <p>Here are two easy ways to get in contact with me:</p>
          <br>
          <ol>
            <li><p>Shoot me an email at ethan.honeycutt@yahoo.com</p></li>
            <li><p>Leave me a message on the Contact page of this site</p></li>
          </ol>
        </div>
      </div>
      <div class="span4">
        <div class="is-padded">
          <h2>This site</h2>
          <hr>
          <p>I built this personal website to create a professional presence online. It happily runs on a Node.js/Express backend, and it's built with Bootstrap to provide a seamless, responsive experience on all of your devices. Try it on mobile or a tablet!</p>
        </div>
      </div>
    </div>
    <p>2015 Ethan Honeycutt<br></p>
  </footer>
</div>
<!-- /container -->
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-button.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-typeahead.js"></script>
<script src="js/jquery-ui-1.8.18.custom.min.js"></script>
<script src="js/jquery.smooth-scroll.min.js"></script>
<script src="js/lightbox.js"></script>
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73925630-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
