<!DOCTYPE html>
<html lang="en">
<head>
<title>Ethan Honeycutt</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="index"><span class="color-highlight">E</span>than Honeycutt</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li class="active"><a href="index">Home</a></li>
          <li><a href="technologies">Technologies</a></li>
          <li><a href="projects">Projects</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!--Start Carousel-->
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active"> <img src="img/featured/1.jpg" alt="">
        <div class="carousel-caption">
          <h4>Object-Oriented Programming</h4>
          <p>Check out a TCP socket programming chat client and server that handles multiple connections, private messaging, and username registration.</p>
        </div>
      </div>
      <div class="item"> <img src="img/featured/2.jpg" alt="">
        <div class="carousel-caption">
          <h4>Web Development</h4>
          <p>Take a look at web applications that integrate CRM software with ecommerce sites in a RESTful manner.</p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="img/arrow.png" alt=""></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="img/arrow2.png" alt=""></a> </div>
  <!--End Carousel-->
  <hr>
  <div class="row">
    <div class="span7">
      <h3>Introduction</h3>
      <blockquote>I'm Ethan Honeycutt, a student at The University of Texas at Dallas studying Computer Engineering.<br>Explore this site to learn about my research, projects I'm working on, and technologies I'm proficient with.<br>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <a href="https://github.com/ethanhoneycutt"><h2><img src="img/github1.png" width="10%">&nbsp;Link to my GitHub</h2></a>
    </div>
    <div class="span4">
      <a href="Resume1-16.pdf"><h2>Download my resume</h2></a>
    </div>
  </div>
  <!--Start second row of columns-->
  <hr>
  <div class="row">
    <div class="span6 thumb-list"><img width="50%" height="50%" src="img/heatmap.png" alt="">
      <h3><a href="#">d3 Heatmaps</a></h3>
      <p>Explore powerful, data-driven documents I've made with Javascript data visualization library d3.</p>
      <a href="#" class="btn">Details</a> 
    </div>
    <div class="span6 thumb-list"><img width="50%" height="50%"  src="img/poker.jpg" alt="">
      <h3><a href="#">World Series of Poker Auto-Collector</a></h3>
      <p>See how I set up a cron job to automatically collect virtual cash in a mobile poker game.</p>
      <a href="#" class="btn">Details</a>
    </div>
  </div>
  <hr>
  <footer class="row">
    <div>
      <div class="span4">
        <div class="is-padded">
          <nav>
            <h2>Navigation</h2>
            <hr>
            <ul>
              <li class="active"><a href="index">Home</a></li>
              <li><a href="technologies">Technologies</a></li>
              <li><a href="projects">Projects</a></li>
              <li><a href="contact">Contact</a></li>
              <li><a href="about">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="span4">
        <div class="is-padded">
          <h2>Want to get in touch?</h2>
          <hr>
          <p>Here are two easy ways to get in contact with me:</p>
          <br>
          <ol>
            <li><p>Shoot me an email at ethan.honeycutt@yahoo.com</p></li>
            <li><p>Leave me a message on the Contact page of this site</p></li>
          </ol>
          <br>
          <p>Let's start a conversation!</p>
        </div>
      </div>
      <div class="span4">
        <div class="is-padded">
          <h2>This site</h2>
          <hr>
          <p>I built this personal website to create a professional presence online. It happily runs on a Node.js/Express backend, and it's built with Bootstrap to provide a seamless, responsive experience on all of your devices. Try it on mobile or a tablet!</p>
        </div>
      </div>
    </div>
    <p>2015 Ethan Honeycutt</p>
  </footer>
</div>
<!-- /container -->
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-button.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-typeahead.js"></script>
<script src="js/jquery-ui-1.8.18.custom.min.js"></script>
<script src="js/jquery.smooth-scroll.min.js"></script>
<script src="js/lightbox.js"></script>
<script>
$('.carousel').carousel({
  interval: 6000
})
</script>
</body>
</html>
