<!DOCTYPE html>
<style>
.frame {
    border: 0;
    width: 200%;
    -ms-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
    -webkit-transform: scale(0.60);
    transform: scale(0.60);
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
</style>
<html lang="en">
<head>
<title>Ethan Honeycutt | Projects</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="index"><span class="color-highlight">E</span>than Honeycutt</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><a href="index">Home</a></li>
          <li><a href="technologies">Technologies</a></li>
          <li class="active"><a href="projects">Projects</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container">
  <hr>
  <div id="heatmaps" class="row">
    <div class="span4">
      <div class="well">
        <h1>d3 Heatmaps</h1>
        <h4>Data-Driven Documents</h4>
        <br>
        <p>In the past, I have put together visualizations for easily viewing lots of data using <a href ="https://d3js.org/">d3, a JavaScript framework for manipulating data</a>. After exporting database tables of customer and transaction information into TSV files, these graphics can be built as web pages through quantization and mapping. See what this looks like <a href="#">here</a>.</p>
      </div>
    </div>
    <div class="span8">
      <img src="img/heatmap.png"></img>
    </div>
  </div>
  <hr>
  <div id="poker" class="row">
    <div class="span12">
      <div class="well">
        <h1>Poker Automation</h1>
        <h4>I'm not going to click if I don't have to</h4>
        <br>
        <p>For a while, my friends and I played a mobile poker game. Every four hours, you could log in and collect free chips to use, and I immediately saw the potential of having something collect my chips automatically for me. Here is my first attempt, a casper.js headless browser script that would log in and press the button for me. Unfortunately, I was met with a "cannot reach the server right now" message. Undeterred, I tried catching the request that was being sent to their servers. I found that by skipping the game entirely and just sending the request, they would add the chips to my game account. By setting up a simple cron job to curl their servers every four hours, I have been collecting my free chips for months.</p>
      </div>
    </div>
    <div class="span9">
      <pre>var casper = require('casper').create({   
    verbose: true, 
    logLevel: 'debug',
    pageSettings: {
        loadImages:  true,         // The WebPage instance used by Casper will
        loadPlugins: true,         // use these settings
      userAgent: 'Mozilla/5.0 (compatible, MSIE 11, Windows NT 6.3; Trident/7.0; rv:11.0) like Gecko',
    }
});

casper.start('http://www.facebook.com', function() {
   this.fill('form#login_form', { 
        email: email, 
        pass:  password
    }, true);
});

casper.thenOpen('http://playwsop.com/?utm_source=wsopcom&utm_medium=weblink_WSOPPoker_MobnSoc&utm_campaign=wsopcom_mobnSoc_weblink', function() {
  this.capture('image2.png', {
        top: 0,
        left: 0,
        width: 1920,
        height: 1080
    });
});

var linkSelector = 'div.lpcPText';

casper.then(function() {
    if (!this.exists(linkSelector)) return;
    this.click(linkSelector);
    this.evaluate(function(linkSelector) {
        __utils__.findOne(linkSelector).setAttribute("className", "clicked");
    }, linkSelector);
});

casper.wait('15000', function() {
  this.capture('image3.png', {
        top: 0,
        left: 0,
        width: 1920,
        height: 1080
    });

});

casper.run();</pre>
    </div>
    <div class="span3">
      <img src="img/image2.png" width="100%"></img>
    </div>
    <div class="span3">
      <p></p>
    </div>
    <div class="span3">
      <img src="img/image3.png"></img>
    </div>
  </div>
  <div class="row">
  </div>
  <hr>
  <footer class="row">
    <div>
      <div class="span4">
        <div class="is-padded">
          <nav>
            <h2>Navigation</h2>
            <hr>
            <ul>
              <li><a href="index">Home</a></li>
              <li><a href="technologies">Technologies</a></li>
              <li class="active"><a href="projects">Projects</a></li>
              <li><a href="contact">Contact</a></li>
              <li><a href="about">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="span4">
        <div class="is-padded">
          <h2>Want to get in touch?</h2>
          <hr>
          <p>Here are two easy ways to get in contact with me:</p>
          <br>
          <ol>
            <li><p>Shoot me an email at ethan.honeycutt@yahoo.com</p></li>
            <li><p>Leave me a message on the Contact page of this site</p></li>
          </ol>
          <br>
          <p>Let's start a conversation!</p>
        </div>
      </div>
      <div class="span4">
        <div class="is-padded">
          <h2>This site</h2>
          <hr>
          <p>I built this personal website to create a professional presence online. It happily runs on a Node.js/Express backend, and it's built with Bootstrap to provide a seamless, responsive experience on all of your devices. Try it on mobile or a tablet!</p>
        </div>
      </div>
    </div>
    <p>2015 Ethan Honeycutt<br></p>
  </footer>
</div>
<!-- /container -->
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-button.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-typeahead.js"></script>
<script src="js/jquery-ui-1.8.18.custom.min.js"></script>
<script src="js/jquery.smooth-scroll.min.js"></script>
<script src="js/lightbox.js"></script>
</body>
</html>
